name:
  Fetch Airtable data and publish to GitHub Pages

  # Controls when the workflow will run
on:
  # Triggers the workflow every day
  schedule:
    - cron: "1 2 * * *"
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token:
    write

    # A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "cron"
  cron:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      TABLES: autoridades,personas,entidades
      AIRTABLE_PERSONAL_TOKEN: ${{ secrets.AIRTABLE_PERSONAL_TOKEN }} # see https://airtable.com/account
      AIRTABLE_BASE_ID: appmWWoGIIET5x6e4
      BASE_URL: https://boliviamaes.github.io/data/

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 25
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      # restore the previous dist/ if it exists, in particular, the images
      - name: Cache built data
        uses: actions/cache@v4
        with:
          path: dist
          key: dist

      # always fetch the latest Airtable data, and then download the missing images (and delete the old ones)
      - name: Fetch the data and build
        run: npm run start

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./dist"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
